In [7]:
import pandas as pd
import matplotlib.pyplot as plt

#Carregar a base
df = pd.read_excel(r'BaseFuncionarios.xlsx')

df.head()

,ID RH,Nome,Sobrenome,Genero,Data de Nascimento,Endereço,Data de Contratacao,Data de Demissao,Salario,VR,VT,Cargo,Área,Horas Extras,Avaliação do Funcionário
0,195,ADELINO,WERNECK,M,1997-04-27,"Av. Guilherme Campos, 500 - Jardim Santa Geneb...",2015-04-23,NaT,12954,700,200,Coordenador,Administrativo,161,9.8
1,102,ADRIANO,SOUZA,M,1993-12-09,"Av. Limeira, 722 - Areião, Piracicaba - SP, 13...",2020-12-05,NaT,1635,500,225,Estagiário,Marketing,57,7.3
2,342,ALFREDO,ARAUJO,M,1986-08-14,"Av. Limeira, 722 - Areião, Piracicaba - SP, 13...",2020-04-02,NaT,11153,750,300,Coordenador,Marketing,70,8.7
3,320,ALINE,SILVA,F,1976-06-22,"Av. Paulista, 1230 - Bela Vista, São Paulo - S...",2015-08-13,2021-08-12,898,500,200,Estagiário,Operações,174,7.4
4,88,ALINE,SOUZA,F,1981-09-04,Condomínio Sorocaba Shopping Center - Av. Dr. ...,2020-03-29,NaT,18878,500,225,Gerente,Administrativo,132,8.3

In [ ]:
df['Data de Contratacao'] = pd.to_datetime(df['Data de Contratacao'])
df['Data de Demissao'] = pd.to_datetime(df['Data de Demissao'], errors='coerce')
df.info()

In [ ]:
df['Status'] = df['Data de Demissao'].isna().map({ True: 'Ativo', False: 'Demitido'})

df['Status'].value_counts()

O .shape retorna uma tupla com as dimensões do DataFrame:
| Código        | Retorna o quê?        | Significado                       |
| ------------- | --------------------- | --------------------------------- |
| `df.shape`    | `(linhas, colunas)`   | Tamanho da tabela                 |
| `df.shape[0]` | Número de **linhas**  | Quantidade de registros           |
| `df.shape[1]` | Número de **colunas** | Quantidade de atributos/variáveis |

In [23]:
total_ativos = df[df['Status']=="Ativo"].shape[0]
total_demitidos = df[df['Status']=="Demitido"].shape[0]
print(total_ativos)
print(total_demitidos)

155
51

In [18]:
total_contratacoes = df["Data de Contratacao"].notna().sum()
print(total_contratacoes)

206

In [ ]:
df

In [28]:
df["Folha Salarial"] =  df['Salario'] + df['VT'] + df['VR']
total_folha = df[df['Status']=='Ativo']['Folha Salarial'].sum()
print(total_folha)
#Outra forma
folha_salarial = (df['Salario'] + df['VT'] + df['VR'])[df['Status']=='Ativo'].sum()
print(folha_salarial)

1487553
1487553

In [33]:
df['Genero'].dropna().unique()

array(['M', 'F'], dtype=object)

Diferença entre notna() e isna()
| Método    | Retorna `True` quando... |
| --------- | ------------------------ |
| `isna()`  | o valor **é nulo**       |
| `notna()` | o valor **não é nulo**   |

In [35]:
df['Genero'].value_counts()

Genero
M    106
F    100
Name: count, dtype: int64

In [43]:
df.head()

,ID RH,Nome,Sobrenome,Genero,Data de Nascimento,Endereço,Data de Contratacao,Data de Demissao,Salario,VR,VT,Cargo,Área,Horas Extras,Avaliação do Funcionário,Status,Folha Salarial
0,195,ADELINO,WERNECK,M,1997-04-27,"Av. Guilherme Campos, 500 - Jardim Santa Geneb...",2015-04-23,NaT,12954,700,200,Coordenador,Administrativo,161,9.8,Ativo,13854
1,102,ADRIANO,SOUZA,M,1993-12-09,"Av. Limeira, 722 - Areião, Piracicaba - SP, 13...",2020-12-05,NaT,1635,500,225,Estagiário,Marketing,57,7.3,Ativo,2360
2,342,ALFREDO,ARAUJO,M,1986-08-14,"Av. Limeira, 722 - Areião, Piracicaba - SP, 13...",2020-04-02,NaT,11153,750,300,Coordenador,Marketing,70,8.7,Ativo,12203
3,320,ALINE,SILVA,F,1976-06-22,"Av. Paulista, 1230 - Bela Vista, São Paulo - S...",2015-08-13,2021-08-12,898,500,200,Estagiário,Operações,174,7.4,Demitido,1598
4,88,ALINE,SOUZA,F,1981-09-04,Condomínio Sorocaba Shopping Center - Av. Dr. ...,2020-03-29,NaT,18878,500,225,Gerente,Administrativo,132,8.3,Ativo,19603

In [42]:
salaria_area = df.groupby("Área")["Salario"].median().sort_values()
print(salaria_area)

Área
Logística         7257.5
Marketing         7290.5
Administrativo    7320.5
Comercial         7373.0
Operações         7814.0
Financeiro        8030.0
Name: Salario, dtype: float64